<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   				http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
					http://www.springframework.org/schema/context
					http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	xmlns:p="http://www.springframework.org/schema/p">

	<!--<bean id="config" class="com.jumei.arch.push.web.util.phoenix.PhoenixPoolConfig">
		&lt;!&ndash; 连接池最大使用连接数量 &ndash;&gt;
		<property name="maxActive" value="${phoenix.maxActive}" />
		&lt;!&ndash; 连接池最小空闲 &ndash;&gt;
		<property name="minIdle" value="${phoenix.minIdle}" />
		&lt;!&ndash; 连接池最大空闲 &ndash;&gt;
		<property name="maxIdle" value="${phoenix.maxIdle}" />
		&lt;!&ndash; 获取连接最大等待时间 &ndash;&gt;
		<property name="maxWait" value="${phoenix.maxWait}" />
		&lt;!&ndash;使用连接的时候检测可用性 &ndash;&gt;
		<property name="testOnBorrow" value="${phoenix.testOnBorrow}" />
	</bean>

	<bean id="phoenixPool" class="com.jumei.arch.push.web.util.phoenix.PhoenixPool" init-method="init">
		<property name="doveKey" value="${phoenix.query.servers.dove.key}"/>
		<property name="username" value="${phoenix.username}"/>
		<property name="appKey" value="${phoenix.appKey}"/>
		<property name="poolConfig" ref="config"/>
	</bean>-->
</beans>