<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >

    <appender name="owlAppender" class="com.jumei.owl.logger.log4j.OwlAppender"> 
        <param name="app" value="${app}"/>
    </appender>
 
    <root>
        <priority value="error" />   
        <appender-ref ref="owlAppender" /> 
    </root>
</log4j:configuration>